@font-face {
    font-family: 'National-Regular';
    src: url('../fonts/National-Regular.eot');
    src: url('../fonts/National-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-Regular.woff2') format('woff2'),
        url('../fonts/National-Regular.woff') format('woff'),
        url('../fonts/National-Regular.ttf') format('truetype'),
        url('../fonts/National-Regular.svg#National-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National-SemiboldItalic';
    src: url('../fonts/National-SemiboldItalic.eot');
    src: url('../fonts/National-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/National-SemiboldItalic.woff') format('woff'),
        url('../fonts/National-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/National-SemiboldItalic.svg#National-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'National Book-BookItalic';
    src: url('../fonts/National-BookItalic.eot');
    src: url('../fonts/National-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-BookItalic.woff2') format('woff2'),
        url('../fonts/National-BookItalic.woff') format('woff'),
        url('../fonts/National-BookItalic.ttf') format('truetype'),
        url('../fonts/National-BookItalic.svg#National-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National-Extrabold';
    src: url('../fonts/National-Extrabold.eot');
    src: url('../fonts/National-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-Extrabold.woff2') format('woff2'),
        url('../fonts/National-Extrabold.woff') format('woff'),
        url('../fonts/National-Extrabold.ttf') format('truetype'),
        url('../fonts/National-Extrabold.svg#National-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'National Book';
    src: url('../fonts/National-Book.eot');
    src: url('../fonts/National-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-Book.woff2') format('woff2'),
        url('../fonts/National-Book.woff') format('woff'),
        url('../fonts/National-Book.ttf') format('truetype'),
        url('../fonts/National-Book.svg#National-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National-Medium';
    src: url('../fonts/National-Medium.eot');
    src: url('../fonts/National-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-Medium.woff2') format('woff2'),
        url('../fonts/National-Medium.woff') format('woff'),
        url('../fonts/National-Medium.ttf') format('truetype'),
        url('../fonts/National-Medium.svg#National-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'National-Semibold';
    src: url('../fonts/National-Semibold.eot');
    src: url('../fonts/National-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-Semibold.woff2') format('woff2'),
        url('../fonts/National-Semibold.woff') format('woff'),
        url('../fonts/National-Semibold.ttf') format('truetype'),
        url('../fonts/National-Semibold.svg#National-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'National-BoldItalic';
    src: url('../fonts/National-BoldItalic.eot');
    src: url('../fonts/National-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-BoldItalic.woff2') format('woff2'),
        url('../fonts/National-BoldItalic.woff') format('woff'),
        url('../fonts/National-BoldItalic.ttf') format('truetype'),
        url('../fonts/National-BoldItalic.svg#National-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'National Regular-RegularItalic';
    src: url('../fonts/National-RegularItalic.eot');
    src: url('../fonts/National-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-RegularItalic.woff2') format('woff2'),
        url('../fonts/National-RegularItalic.woff') format('woff'),
        url('../fonts/National-RegularItalic.ttf') format('truetype'),
        url('../fonts/National-RegularItalic.svg#National-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'National-Bold';
    src: url('../fonts/National-Bold.eot');
    src: url('../fonts/National-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-Bold.woff2') format('woff2'),
        url('../fonts/National-Bold.woff') format('woff'),
        url('../fonts/National-Bold.ttf') format('truetype'),
        url('../fonts/National-Bold.svg#National-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'National-MediumItalic';
    src: url('../fonts/National-MediumItalic.eot');
    src: url('../fonts/National-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-MediumItalic.woff2') format('woff2'),
        url('../fonts/National-MediumItalic.woff') format('woff'),
        url('../fonts/National-MediumItalic.ttf') format('truetype'),
        url('../fonts/National-MediumItalic.svg#National-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'National-ExtraboldItalic';
    src: url('../fonts/National-ExtraboldItalic.eot');
    src: url('../fonts/National-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/National-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/National-ExtraboldItalic.woff') format('woff'),
        url('../fonts/National-ExtraboldItalic.ttf') format('truetype'),
        url('../fonts/National-ExtraboldItalic.svg#National-ExtraboldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/fonts/icomoon.eot?tknmu');
    src:  url('../fonts/icomoon/fonts/icomoon.eot?tknmu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/fonts/icomoon.ttf?tknmu') format('truetype'),
      url('../fonts/icomoon/fonts/icomoon.woff?tknmu') format('woff'),
      url('../fonts/icomoon/fonts/icomoon.svg?tknmu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }