

.noUi-horizontal .noUi-tooltip {
    bottom: -100%;
}
.noUi-horizontal {
    height: 45px;
}
.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 50px;
}
.noUi-connect {
    background: #403e75;
}.filters {
    padding-top: 110px;
}
.single-page.container {
    padding-top: 120px;
    padding-bottom: 50px;
}
.center {
    text-align: center;
}
.section__products .row .col-md-6 {
    opacity: 1; 
}
.card {
    border: 0;
}
.section__products .card-body {
    display: none;
}
.form-control {
    width: 80%;
}
.center_image {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

/*menu css start*/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  cursor: pointer;
}
.bm-burger-bars {
  background-color: #9f9eba;
}
.line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: #4e4e4e;
}
/*menu css end*/

.noUi-horizontal .noUi-tooltip {
    bottom: -100%;
}
.noUi-horizontal {
    height: 45px;
}
.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 50px;
}
.noUi-connect {
    background: #403e75;
}
.section__appliedFilters {
    padding-top: 40px;
    padding-bottom: 20px;
}
.section__filter.sticky .filter__date li:nth-child(2) {
    padding-left: 14px;
    padding-top: 8px;
}

.noUi-target {
    background: #d8d8d8;
}
.noUi-pips-horizontal {
    padding: 0px 0;
    top: 0%;
}
.noUi-value.noUi-value-horizontal.noUi-value-large {
    color: #fff;
    z-index: 1;
}
.noUi-value-sub {
    color: #fff;
    font-size: 12px;
    z-index: 1;
}
.noUi-marker-large {
    background: #fff;
}
.noUi-marker-sub {
    background: #fff;
    z-index: 1;
}
.noUi-handle:after, .noUi-handle:before {
    height: 40px;
    width: 16px;
    left: 0px;
    background: #fff;
}
.card-img {
    height: 150px;
}
section.section__filter.sticky {
    padding-top: 50px;
}
.checkmark {
    top: 2px;
}
.noUi-value-sub { 
    pointer-events: none;
}
.section__filter ul::-webkit-scrollbar-track {
    background-color: transparent;
}
.section__filter ul::-webkit-scrollbar-thumb {
    background-color: #403E75;
    outline: 1px solid #403E75;
    border-radius: 50px;
}
.section__filter ul { width: 80%; }
.content__bottom.sticky .section__timeline {
    height: 30px;
    width: 100%;
    position: fixed;
    top: 224px;
    z-index: 999;
    background-color: #D8D8D8;
}
.content__bottom.sticky .noUi-horizontal,
.content__bottom.sticky .noUi-pips-horizontal {
    height: 30px;
}
.content__bottom.sticky .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 36px;
}
.content__bottom.sticky .noUi-marker-horizontal.noUi-marker-large,
.content__bottom.sticky .noUi-value.noUi-value-horizontal.noUi-value-large,
.content__bottom.sticky .noUi-marker-horizontal.noUi-marker-sub,
.content__bottom.sticky .noUi-value-sub,
.content__bottom.sticky .noUi-handle:after, 
.content__bottom.sticky .noUi-handle:before{
    display: none;
}
.section__filter.sticky .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.section__filter.sticky .row div[class^="col-"]:nth-child(5) {
    display: none;
}
.content__bottom.sticky .section__timeline {
    z-index: 95; 
}
.noUi-target { 
    box-shadow: none; 
}
section.section__filter.sticky {
    height: 145px;
    box-shadow: none;
}
.noUi-target {
    box-shadow: none;
    border: none;
}
section.section__filter.sticky {
    z-index: 92;
}

@media (max-width: 1440px) {
  .check-box .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkmark {
    top: 5px;
  }
}
@media (max-width: 1440px) {
.section__filter label {
    font-size: 20px;
  }
  .checkmark {
    height: 18px;
    width: 18px;
    top: 2px;
  }
}