@media (min-width: 1660px) {
    .container {
        max-width: 1640px;
        width: 1640px;
    }
}
@media (max-width: 1440px) {
    section.content__bottom {
        margin-top: 360px;
    }
    .filter__contentType .icon__holder {
        height: 85px;
        width: 85px;
    }
    .section__filter p {
        font-size: 15px;
    }
    .filter__contentType .txt p {
        font-size: 15px;
    }
    .section__filter label {
        font-size: 15px;
        padding-left: 23px;
        margin-bottom: 10px;
    }
    .checkmark {
        height: 14px;
        width: 14px;
    }
    .section__filter .row .col-sm-3:nth-child(1) .filter__info {
        margin-bottom: 38px;
    }
    .section__filter .row .col-sm-3:not(:nth-child(1)) .filter__info {
        margin-bottom: 30px;
    }
    section.content__bottom.sticky {
        margin-top: 258px;
    }
    .section__filter.sticky {
        padding: 20px 0 34px;
    }
    .section__filter.sticky .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 17.5%;
        flex: 0 0 17.5%;
        max-width: 17.5%;
    }
    .section__filter.sticky .col-sm-3:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .section__filter {
        padding: 30px 0 30px;
    }
    .section__products .item__txt h3 {
        font-size: 20px;
    }
    .section__products .item__case span.icon-case {
        width: 20px;
    height: 20px;
    margin-bottom: 0px;
    }
    .section__products .item__img {
        height: 195px;
    }
}